<div class="text-center center-div" id="login">
  <div class="container w-50 border py-5">
    <div class="title">
      <div class="title">

        <h5 class="bg-danger text-white mt-3 ">{{invalid}}</h5>


      </div>
      <h2 class="font-weight-bold text-light">ADD CATEGORY</h2>
      <form action="/admin/category" method="post" id="reg-form"
        class="d-flex justify-content-center align-items-center flex-column" enctype="multipart/form-data">
        <input type="text" name="category" placeholder="ADD CATEGORY" class="w-50 p-3 form-control"><br>
        <input type="file" class="form-control w-50 p-3" id="exampleFormControlFile1" name="image1">rs
        <button type="submit" class="p-2 w-25 btn text-light" id="addcategory">ADD</button>
      </form>
    </div>
  </div>
</div>


<section>
  <div class="container text-center">
    <button type="submit" class="p-2 w-25 btn text-light" id="addcategory"><a href="/admin/category"
        style="text-decoration: none; color:white; matgin-right:10px">GO TO CATEGORY</a></button>
    <button type="submit" class="p-2 w-25 btn text-light" id="addcategory"><a href="/admin/category"
        style="text-decoration: none; color:white">GO TO HOME</a></button>
  </div>
</section>