<div class="text-center center-div" id="login">
    <div class="container ">
        <div class="title">
            <h5 class="bg-success text-white mt-3" >{{logout}}</h5>
            <h5 class="bg-warning mt-3 text-dark" >{{invalid}}</h5>
 
        </div>
        <form action="/admin/asignin" method="post" class="pt-3" id="reg-form">
            <div class="form-group">
               <span><img src="/images/username.png" alt=""></span> <input type="username" class="form-contro" placeholder="USERNAME" name="username">
            </div>
            <div class="form-group">
               <span><img src="/images/password.png" alt=""></span> <input type="password" class="form-contro mt-3" name="password" placeholder="PASSWORD">
            </div>
            <button type="submit" class="btn mt-3">SIGN IN</button>
        </form>
    </div>
</div>

