<nav class="container">
  <div class="d-flex justify-content-between align-items-center maincont">
    <a href="/admin/admin-land" class="maina common">LOG</a>
    
    <a href="/admin/alogout" class="atag1 common text-uppercase">logout</a>
  </div>

  <div class="d-flex justify-content-center align-items-center main1">
    <a href="/admin/orders" class="atag2">ORDERS</a>
    <a href="/admin/view-user" class="atag2">USERS</a>
    <a href="/admin/products" class="atag2">PRODUCTS</a>
    <a href="/admin/add-products" class="atag2">ADD PRODUCTS</a>
    <a href="/admin/category" class="atag2">CATEGORY</a>
    <a href="/admin/coupon" class="atag2">COUPON</a>
    <a href="/admin/banner" class="atag2">BANNER</a>
  </div>
  <div class="line1"><img src="/images/line1.png" alt=""></div>
  
</nav>