
<nav class="container">
  <div class="d-flex justify-content-between align-items-center maincont">
    <a href="/admin" class="maina common">LOG</a>
  </div>

  <div class="d-flex justify-content-center align-items-center main1-2">
   <span class="span1">ADMIN</span> <span class="span2">LOGIN</span>
  </div>
</nav>