
<nav class="container">
  <div class="d-flex justify-content-between align-items-center maincont">
    <a href="/" class="maina common">LOG</a>
    <span class="atag1 search"><input type="text" class="search"><button type="submit"><i class="fa fa-search"></i></button></span>
    <div  class="">
        <a href="/user-profile" class="signin maina maina-1"><img src="/images/profile.png" alt=""></a>
        <span class="badge bg-success" id="cartCount">{{cartCount}}</span><a href="/view-cart" class="signin maina"><img src="/images/cart.png" alt=""></a>
        <a href="/logout" class="adiv-1  maina" style="font-size:20px; color:rgb(224, 5, 236)">Logout</a>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-center main1">
    <a href="/" class="atag2">HOME</a>
    <a href="/#category" class="atag2">CATEGORY</a>
    <a href="#" class="atag2">BUILD PC</a>
    <a href="#" class="atag2">BRANDS</a>
  </div>
</nav>