
<nav class="container">
  <div class="d-flex justify-content-between align-items-center maincont">
    <a href="/" class="maina common">LOG</a>
    <span class="atag1 search"><input type="text" class="search"><button type="submit"><i class="fa fa-search"></i></button></span>
    <div>
      <a href="/signin" class="signin maina maina-1"><img src="/images/signin.png" alt=""></a>
    </div>
  </div>

 <div class="d-flex justify-content-center align-items-center main1-user">
    <a href="/" class="atag2-1">HOME</a>
    <a href="/#category" class="atag2-1">CATEGORY</a>
    <a href="#" class="atag2-1">BUILD PC</a>
    <a href="" class="atag2-1">BRANDS</a>
  </div>
</nav>