<div class="text-center center-div" id="login">
  <div class="container w-50 border py-5">
    <div class="title">
      <div class="title">
     
      <h5 class="bg-danger text-white mt-3 ">{{invalid}}</h5>
      

    </div>
     <div class="d-flex justify-content-center align-items-center main1-3">
          <span class="span2">ENTER</span>
          <span class="span1">MOBILE NUMBER</span>
        </div>
     <form action="/otp-login" method="post" id="reg-form">
      <input type="text" name="phone" placeholder="ENTER MOBILE NUMBER" class="w-50 p-3" ><br>
      <button type="submit" class="p-2 w-25 btn text-light" id="addcategory">GET OTP</button>
      <button type="submit" class="p-2 w-25 btn text-light" id="addcategory"><a style="text-decoration:none; color:white" href="/signin">BACK TO SIGNIN</a></button>
     </form>
    </div>
  </div>
</div>

