<div class="text-center center-div" id="login">
  <div class="container w-50 border py-5">
    <div class="title">
       <div class="title">
     
      <h5 class="bg-danger text-white mt-3 ">{{invalid}}</h5>
      

    </div>
     <div class="d-flex justify-content-center align-items-center main1-3">
          <span class="span2">OTP</span>
          <span class="span1">VERIFICATION</span>
        </div>
     <form action="/otp-verification" method="post" id="reg-form">
     <input type="hidden" value="{{phone}}" name="mobile" id=""> <br>
      <input type="text" name="otp" placeholder="ENTER OTP" class="w-50 p-3" ><br>
      <button type="submit" class="p-2 w-25 btn text-light" id="addcategory">GO</button>
     </form>
    </div>
  </div>
</div>
