<section class="container text-center">
    <form action="" method="post" class="pt-3" id="changePwd">
        <div class="d-flex justify-content-center align-items-center main1-3 mt-4">
          <span class="span2">VERIFY</span>
          <span class="span1">YOURSELF</span>
        </div>
        <div class="form-group mt-3">
        
          <span><img src="/images/password.png" alt="" /></span>
          <input type="password" class="form-contro mt-3" name="password" placeholder="CURRENT PASSWORD"/>
        </div>
        <button type="submit" class="btn mt-5 btnpwd">VERIFY ACCOUNT</button>
      </form>
</section>
